vaadin-button::part(label){
  font-size: 16px;
}
vaadin-multi-select-combo-box > label{
  display: inline-block;
  overflow: visible;
  text-overflow: clip;
  font-size: 16px;
}

vaadin-text-area > label{
  display: inline-block;
  overflow: visible;
  text-overflow: clip;
  font-size: 16px;
}

vaadin-grid::part(cell){
  font-size: 16px;
}

vaadin-radio-button > label{
  font-size: 16px;
}

vaadin-radio-group > label{
  font-size: 16px;
}

vaadin-checkbox > label{
  font-size: 16px;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
